@import "tailwindcss";


:root {
  --background: #000;
  --foreground: #ffffff;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 13s linear infinite;
}
